<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717799149347-l7u0f56ab34c8dvaij3hidlfvi9mt93g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717799149347-l7u0f56ab34c8dvaij3hidlfvi9mt93g</string>
	<key>API_KEY</key>
	<string>AIzaSyCC_Q-VOJF4YHGN2uDEJNlLnMdIeVfeJaI</string>
	<key>GCM_SENDER_ID</key>
	<string>717799149347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>karlcridland.pint-pilot</string>
	<key>PROJECT_ID</key>
	<string>pint-pilot</string>
	<key>STORAGE_BUCKET</key>
	<string>pint-pilot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717799149347:ios:5133cc7d8d433d38c00696</string>
	<key>DATABASE_URL</key>
	<string>https://pint-pilot.firebaseio.com</string>
</dict>
</plist>